<html>
    <head>
        <title>practice mongodb with mongojs</title>

    </head>

<body>
    <h2><%= title %>:</h2><br>
    <ul>
    <% users.forEach(function(user){ %>
    <li><%= user.first_name %> <%= user.last_name %></li>
    <% }); %>
</ul>
    
</body>
</html>